.nosotros {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nosotros__titulo {
    color: gray;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.nosotros__texto {
    line-height: normal;
    margin-bottom: 1rem;
}

.nosotros__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.nosotros__texto--division {
    color: gray;
    font-weight: 700;
}

.nosotros__imagen {
    display: none;
}

@media screen and (min-width: 1024px) {
    .nosotros {
        display: flex;
    }
    .nosotros__contenido {
        margin-right: 3rem;
    }
    .nosotros__titulo {
        text-align: left;
    }
    .nosotros__texto--division {
        border-bottom: 1px solid var(--background-ceniza-medio);
        padding-bottom: 1.5rem;
    }
    .nosotros__imagen {
        display: block;
    }
}